* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/dark-background-abstract-background-network-3d-background-1920x1080-8324.png");
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  button {
    font-size: 16px;
  }
}
